<mat-toolbar color="primary">
  <div>
    <a class="navbar-brand" routerLink="/main">
      <span style="color: yellow; font-weight: bold; font-family: Arial, Helvetica, sans-serif; margin-right:0.1em; border: yellow solid 1px; padding: 6px;">K</span>
      <span style="margin-left: 5px; color: white">KatlaSport</span>
    </a>
  </div>

  <button routerLink="/categories" mat-button>Categories</button>
  <button routerLink="/products" mat-button>Products</button>
  <button routerLink="/hives" mat-button>Hives</button>
  <button routerLink="/classes" mat-button>Classes</button>
  <button routerLink="/clients" mat-button>Clients</button>
  <button routerLink="/images" mat-button>Files</button>
  <button routerLink="/transports" mat-button>Transports</button>
  <button routerLink="/modes" mat-button>Modes</button>

</mat-toolbar>

<router-outlet></router-outlet>
